.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: flex-start;
}
.icon {
  position: absolute;
  left: 33.3333%;
  right: 35.8333%;
  top: 25%;
  bottom: 25%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
