.root {
  position: relative;
  width: 409px;
  height: 341.8984px;
  flex-direction: column;
  align-items: flex-start;
}
.image31 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image:/* webpackIgnore: true */ url('assets/image31.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
